.Profile {
    .container {
        display: flex;
        gap: 20px;
    }
    .left-part {
        flex: 2;
        overflow-y: auto;
    }
    .right-part {
        flex: 1;
        margin-top: 20px;
    }
}